	/*		RESET CSS 		*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: "helvetica";
}

/*		HEADER: 	*/
app-header {
	background-color: #484c4F;
	width: 100%;
	display: inline-block;
	color: #ffffff;
	z-index: 10000;
}


app-header a {
	color : #ffffff;
padding-left: 30px;
	float: right;
}

app-header a:hover {
	text-decoration : underline;
	color : #ffffff;
}

app-header img {
	width: 40px;
margin-top: 12px;
margin-bottom: 12px !important;
vertical-align: middle;
}

app-header nav {
	vertical-align: middle;
display: inline-block;
position: absolute;
transform: translateY(-50%);
right: 5px;
top: 50%;
}
}

app-header .center-element {
	position: relative !important;
}

 /*		POPIN: 	*/


﻿div#popin
{
    position: fixed;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    display: none;
}

div#popin.visible
{
    display: block;
}

/*		DM 	*/

#imagelistdm
{
	background-image: url("../IMG/img_dmlist.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	-moz-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	background-color: #ffffff;
	width: 100%;
	height: 300px;}

	.ui.category.search {
		text-align: center;
		padding: 30px;
	}

	.awesomplete {
		width: 410px;
	}

	.main_section .ui.container {
		-webkit-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
		-moz-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
		box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
		background-color: #ffffff;
		margin: 100px;
	}

	body {
		margin: 0;
		background-image: url("../../static/IMG/background.jpg");
		background-size: cover;
	}

.picture img {
	width: 100%;
}



app-dm .img
{
	background-color: #6CC2CF;
	height: 150px;
	width: 150px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:100px;
	box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
}

.img img {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
}


app-dm .description .autonomy .guide .invasive .avantages .maket
{

	margin : center
	-webkit-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	-moz-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	background-color: #ffffff;

}

.photoatdmhead {
	background-color: #6CC2CF;
	color: #ffffff;
	padding: 0 !important:
}

.photoatdmhead img {
height: 300px;
width: -moz-available;
padding: 0 !important;

}

.photoatdm {
	height: 300px;
}

.photoatdm p {
	text-align: center;
	color: #ccc;
}

.photoatdm h3 {
	text-align: center;
}

#no_padding {
	padding: 0px !important;
}

.divider {
	display: inline-block;
  width: 0;
  height: 12em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
	padding: 0 !important;
	float: right;
}



/*		AT 	*/
#imagelistat
{
	background-image: url("../IMG/img_lists.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	-moz-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	background-color: #ffffff;
	width: 100%;
	height: 300px;
}











/*		SITUATIONS 	*/





/*		RESIDENTS 	*/

#imagelistresidents{
	background-image: url("../IMG/img_lists.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height:300px;
	-webkit-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	-moz-box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	box-shadow: 4px 7px 16px -3px rgba(0,0,0,0.44);
	background-color: #ffffff;

}
