 /*		POPIN: 	*/
div#popin
{
    position: absolute;
    width: 90%;
    height: auto;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: white;
    border: 1px solid rgba(149,152, 154, 0.3);
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    display: none;
}
 
div#popin.visible
{
    display: block;
}

div#app.blur 
{
    filter: blur(5px);
}