app-residentlist
{
    display: block;
    padding: 20px;
    text-align: center;
}

app-residentlist app-residentitem
{
    display: inline-block;
    text-align: initial;
    margin-right: 20px;
}

app-residentitem .picture
{
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.ui.card  {
  text-align: center !important;
  background-color: #F2F2F2;
  border-radius: 0 !important;
}

.ui.card > .content > .description {
  font-size: 20px;
  font-family: 'Maxwell';
}
