app-usecaseselector .usecase 
{
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

app-usecaseselector .usecase .name 
{
    text-align: center;
}


app-usecaseselector .usecase .picture
{
    display: block;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid; */
    border: 1px solid rgb(149,152, 154);
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
}

app-usecaseselector .usecase.chambre .picture
{
    background-image: url("./../IMG/bed.png");
}

app-usecaseselector .usecase.hygiène .picture
{
    background-image: url("./../IMG/shower.png");
}

app-usecaseselector .usecase.alimentation .picture
{
    background-image: url("./../IMG/cutlery.png");
}

app-usecaseselector .usecase.activités .picture
{
    background-image: url("./../IMG/two-men-meeting.png");
}

app-usecaseselector .usecase.extérieur .picture
{
    background-image: url("./../IMG/footprint.png");
}



div[data-is=app-usecase]
{

}

div[data-is=app-usecase] .header 
{
    display: block;
    height: 350px;
    background-color: #6CC2CF;
    padding-top: 0;
}

div[data-is=app-usecase] .header>div
{
    width: 30%;
    height: 100%;
    display: inline-block;
} 

div[data-is=app-usecase] .header .picture 
{
    display: block;
    float: right;
    width: 70%;
    height: 100%;
    background-size: cover; 
    background-position: center;
}

/* TODO: définir ici les images des différents usecases */
div[data-is=app-usecase] .header .picture.Chambre 
{
    background-image: url("./../IMG/img_lists.jpg");
}


div[data-is=app-usecase] .tools 
{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

div[data-is=app-usecase] .tools>div 
{
    display: inline-block;
    background-color: #6CC2CF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px; 
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 5px 3px 1px #d4d4d5;
}




div[data-is=app-usecase] app-dm
{
    display: block;
    margin: 0;
    text-align: center;
}

div[data-is=app-usecase] app-dm h3
{
    font-size: 15px;
}

div[data-is=app-usecase] app-dm .header
{
    display: none;
}

div[data-is=app-usecase] app-dm>div
{
    display: inline-block;
    min-width: 420px;
    width: 49%;
    max-width: 520px;
    height: 150px;
    vertical-align: top;
    margin-bottom: 20px;
    margin-left: 30px;
}

div[data-is=app-usecase] app-dm>div div.img img 
{
    width: 70px;
    height: 70px;
    transform: translate(-50%, -35%);
}

